updated4/ClientApplication/xml-resources/web-service-references/MyService/wsdl/localhost_8080/Cloud/MyService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CloudPack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CloudPack/" name="MyService">
<types>
<xsd:schema>
<xsd:import namespace="http://CloudPack/" schemaLocation="http://localhost:8080/Cloud/MyService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="StreamVideo">
<part name="parameters" element="tns:StreamVideo"/>
</message>
<message name="StreamVideoResponse">
<part name="parameters" element="tns:StreamVideoResponse"/>
</message>
<message name="GetAllDevices">
<part name="parameters" element="tns:GetAllDevices"/>
</message>
<message name="GetAllDevicesResponse">
<part name="parameters" element="tns:GetAllDevicesResponse"/>
</message>
<message name="GetDevicesByDeviceName">
<part name="parameters" element="tns:GetDevicesByDeviceName"/>
</message>
<message name="GetDevicesByDeviceNameResponse">
<part name="parameters" element="tns:GetDevicesByDeviceNameResponse"/>
</message>
<message name="GetDevicesByDeviceType">
<part name="parameters" element="tns:GetDevicesByDeviceType"/>
</message>
<message name="GetDevicesByDeviceTypeResponse">
<part name="parameters" element="tns:GetDevicesByDeviceTypeResponse"/>
</message>
<message name="GetDevicesByServiceType">
<part name="parameters" element="tns:GetDevicesByServiceType"/>
</message>
<message name="GetDevicesByServiceTypeResponse">
<part name="parameters" element="tns:GetDevicesByServiceTypeResponse"/>
</message>
<message name="SignUp">
<part name="parameters" element="tns:SignUp"/>
</message>
<message name="SignUpResponse">
<part name="parameters" element="tns:SignUpResponse"/>
</message>
<message name="CheckUID">
<part name="parameters" element="tns:CheckUID"/>
</message>
<message name="CheckUIDResponse">
<part name="parameters" element="tns:CheckUIDResponse"/>
</message>
<message name="getDeviceDetails">
<part name="parameters" element="tns:getDeviceDetails"/>
</message>
<message name="getDeviceDetailsResponse">
<part name="parameters" element="tns:getDeviceDetailsResponse"/>
</message>
<portType name="MyService">
<operation name="login">
<input wsam:Action="http://CloudPack/MyService/loginRequest" message="tns:login"/>
<output wsam:Action="http://CloudPack/MyService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="StreamVideo">
<input wsam:Action="http://CloudPack/MyService/StreamVideoRequest" message="tns:StreamVideo"/>
<output wsam:Action="http://CloudPack/MyService/StreamVideoResponse" message="tns:StreamVideoResponse"/>
</operation>
<operation name="GetAllDevices">
<input wsam:Action="http://CloudPack/MyService/GetAllDevicesRequest" message="tns:GetAllDevices"/>
<output wsam:Action="http://CloudPack/MyService/GetAllDevicesResponse" message="tns:GetAllDevicesResponse"/>
</operation>
<operation name="GetDevicesByDeviceName">
<input wsam:Action="http://CloudPack/MyService/GetDevicesByDeviceNameRequest" message="tns:GetDevicesByDeviceName"/>
<output wsam:Action="http://CloudPack/MyService/GetDevicesByDeviceNameResponse" message="tns:GetDevicesByDeviceNameResponse"/>
</operation>
<operation name="GetDevicesByDeviceType">
<input wsam:Action="http://CloudPack/MyService/GetDevicesByDeviceTypeRequest" message="tns:GetDevicesByDeviceType"/>
<output wsam:Action="http://CloudPack/MyService/GetDevicesByDeviceTypeResponse" message="tns:GetDevicesByDeviceTypeResponse"/>
</operation>
<operation name="GetDevicesByServiceType">
<input wsam:Action="http://CloudPack/MyService/GetDevicesByServiceTypeRequest" message="tns:GetDevicesByServiceType"/>
<output wsam:Action="http://CloudPack/MyService/GetDevicesByServiceTypeResponse" message="tns:GetDevicesByServiceTypeResponse"/>
</operation>
<operation name="SignUp">
<input wsam:Action="http://CloudPack/MyService/SignUpRequest" message="tns:SignUp"/>
<output wsam:Action="http://CloudPack/MyService/SignUpResponse" message="tns:SignUpResponse"/>
</operation>
<operation name="CheckUID">
<input wsam:Action="http://CloudPack/MyService/CheckUIDRequest" message="tns:CheckUID"/>
<output wsam:Action="http://CloudPack/MyService/CheckUIDResponse" message="tns:CheckUIDResponse"/>
</operation>
<operation name="getDeviceDetails">
<input wsam:Action="http://CloudPack/MyService/getDeviceDetailsRequest" message="tns:getDeviceDetails"/>
<output wsam:Action="http://CloudPack/MyService/getDeviceDetailsResponse" message="tns:getDeviceDetailsResponse"/>
</operation>
</portType>
<binding name="MyServicePortBinding" type="tns:MyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="StreamVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllDevices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetDevicesByDeviceName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetDevicesByDeviceType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetDevicesByServiceType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SignUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckUID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDeviceDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyService">
<port name="MyServicePort" binding="tns:MyServicePortBinding">
<soap:address location="http://localhost:8080/Cloud/MyService"/>
</port>
</service>
</definitions>